extends layout

block content
  h1= title
  p Welcome to #{title.toUpperCase()}
  p fixed string is #{fixedmsg}
  p query string is #{getmsg}
  //h2= postmsg
  //h3= postlength


  p username is #{postmsg}
  p2 username length is #{postlength}

